.logoArea {
    height: 60px;
    width: 145px;
    cursor: pointer;

}

.logoArea h2 {
    font-size: 30px;
    color: white;
    display: flex;
    flex-direction: row;
    padding-top: 10px;
}

.logoArea .colorD {
    color: #006BB1;
}

.logoArea img {
    width: 70px;
    height: 70px;
}

.logoArea a {
    text-decoration: none;
}

@media (min-width:768px) and (max-width:1024px) {
    .logoArea {
        width: 103px;
    }
}