.btnM {
    width: 215px;
    height: 50px;
    background-color: #006BB1;
    border-radius: 16px;
    text-align: center;
    padding-top: 10px;
    cursor: pointer;
    margin-right: -10px;
}

.btnM:hover {
    background-color: #02488e;
}

.btnArea a {
    color: white;
    text-decoration: none;
    font-size: 22px;
    font-weight: bold;
}

@media (min-width:425px) and (max-width:768px) {

    .btnM {
        display: block;
    }

}

@media (min-width:320px) and (max-width:425px) {

    .btnM {
        display: block;
    }

}